<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="page-content">
        <div class="herospace">
          <div class="bruno-image-container">
          </div>
          <div class="herospace-content">
            <h1>
              <span class="word-1">Cuando</span>
              <span class="word-2">viene</span>
              <span class="word-3">Bru?</span>
            </h1>
            <h2>17/12/2017. 10:50 am llega a Ezeiza</h2>
            <video autoplay loop class="grid-video" width="" height="">
              <source src="/assets/lvoohk.mp4" type="video/mp4">
            </video>
            <!--<div class="the-grid">
            </div>-->
            <!--<img src="/assets/gridneonblue.png" alt="">-->
            <!--<h1 class="hero-title">Cuando Viene Bru 2017</h1>-->
            <!--<div class="clock-container">
              <div class="your-clock"></div>
            </div>-->
            <audio src="/assets/synthwave.mp3" controls autoplay loop>
            </audio>
          </div>
        </div>
        <!-- {{ content }} -->
    </div>

    <script type="text/javascript" src="{{'/scripts/jquery-3.1.1.min.js' | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{'/scripts/flipclock.min.js' | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{'/scripts/main.js' | prepend: site.baseurl }}"></script>
    <script type="text/javascript">
      const bruhSign =
        `██████╗ ██████╗ ██╗   ██╗██╗  ██╗    ███████╗██╗   ██╗███╗   ██╗████████╗██╗  ██╗██╗    ██╗ █████╗ ██╗   ██╗███████╗
        ██╔══██╗██╔══██╗██║   ██║██║  ██║    ██╔════╝╚██╗ ██╔╝████╗  ██║╚══██╔══╝██║  ██║██║    ██║██╔══██╗██║   ██║██╔════╝
        ██████╔╝██████╔╝██║   ██║███████║    ███████╗ ╚████╔╝ ██╔██╗ ██║   ██║   ███████║██║ █╗ ██║███████║██║   ██║█████╗
        ██╔══██╗██╔══██╗██║   ██║██╔══██║    ╚════██║  ╚██╔╝  ██║╚██╗██║   ██║   ██╔══██║██║███╗██║██╔══██║╚██╗ ██╔╝██╔══╝
        ██████╔╝██║  ██║╚██████╔╝██║  ██║    ███████║   ██║   ██║ ╚████║   ██║   ██║  ██║╚███╔███╔╝██║  ██║ ╚████╔╝ ███████╗
        ╚═════╝ ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═╝    ╚══════╝   ╚═╝   ╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═╝ ╚══╝╚══╝ ╚═╝  ╚═╝  ╚═══╝  ╚══════╝
        `
      console.log(bruhSign);
    </script>
  </body>
</html>
